/*-------------------------------------------------------------------------
GENERIQUE
-----------------------------------------------------------------------*/


html{
    box-sizing: border-box;
}

*,*::before,*:after{

    box-sizing: inherit;
}

/*-------------------------------------------------------------------------
ELEMENTS
-----------------------------------------------------------------------*/

body{
    margin: 0;
    padding: 0;

    font-family: "Roboto", sans-serif, "Quicksand", sans-serif, "Lato", sans-serif;
     font-optical-sizing: auto;
    font-size: 18px;
     background-color: white;
    
}
h1{

   font-family: "Roboto", sans-serif; 
   font-optical-sizing: auto;
   font-weight: bold;
   font-size: 6rem;
   letter-spacing: 33%;
   text-align: center;
   color: white;
 

}

h2{ 

    font-family:"Lato", sans-serif;
     font-size: 3rem;
     font-weight: lighter;
     text-align: right;
     padding-top: 55px;
}

h3{
     font-family:"Quicksand", sans-serif;
     font-optical-sizing: auto;
     font-size: 2.25rem;
     font-weight: normal;
     text-align: center;

}
h4{
    font-family: "Roboto", sans-serif; 
   font-optical-sizing: auto;
   font-weight: bold;
   font-size: 1.25rem; 
}

a{
text-decoration: none;
color: black;
background-color: #BDC3C7;
}

p{
    font-family: "Roboto", sans-serif; 
   font-optical-sizing: auto;
   font-weight: normal;
   font-size: 1.25rem;
}


/*-------------------------------------------------------------------------
COMPONENTS
-----------------------------------------------------------------------*/

.wrapper{

    max-width: 1100px;
    margin: 0 auto;
}

.header{
      background-color: #34495E;
      padding-top: 68px;
     padding-bottom: 68px;

}
.regles article{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 67px;
     padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}
.regles  .reverse{
    display: flex;
justify-content:flex-end;
}



.icone{
    border: 5px solid #D35400;
    width: 210px;
    height: 210px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  
    }

   .regles p{
    font-family:"Quicksand", sans-serif;
     font-optical-sizing: auto;
     font-size: 1.875rem;
     font-weight: bold;
     color: #D35400;
      
   }
   .regles{
    align-items: center;
    
   }


  .regles article:hover{
background-color: #BDC3C7;
   }
 
   

.info .wrapper{
display: grid;
gap: 60px;
grid-template-columns: 1fr 1fr;
padding-top: 60px;
justify-content: flex-start;

   }

   .info p{

line-height: 40px;
   }

   .footer{
    background-color: #2980B9;
    margin-top: 44px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
   }

   .camera{
 border: 3px solid #BDC3C7;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

   }

   .footer .icon{
     font-size: 2rem;
   }

   